@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
    --header-height: 3.2rem;
    --nav-width: 68px;
    --first-color: #003b9a;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Lato', Arial, sans-serif;
    --normal-font-size: 1.1rem;
    --z-fixed: 100
}

*,
::before,
::after {
    box-sizing: border-box
}
